body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Consolas', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    height: 450px;
} 

.bar {
    padding-top: 10px;
}

.navigation-bar {
    display: flex;
    gap: 10px;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit
}

.logo {
    margin-right: auto;
    margin-left: 230px;
}

.logo img{
    width: 100px;
    height: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.kontakt{
    margin-right: 200px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 550px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.content img {
    width: 330px;
    height: 260px;
    border-radius: 10px;
}

.min-content {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

button {
  width: 100px;
  background-color: #3882F6;
  border-radius: 10px;
  padding: 5px;
  margin-top: 0px;
}

.hero {
    width: 340px;
}

.section-two {
    display: flex;
    flex-direction: column;
    height:600px;
    align-items: center;
}

.pics {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    height: 100%;
    gap: 30px;
}

.pics img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.subtext {
    width: 200px;
}

.section-three {
    background-color: #E5E7EB;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote {
    font-size: 26px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    width: 650px;
}

h3 {
    font-size: 36px;
}

.section-four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: blue;
    height: 120px;
    width: 900px;
    border-radius: 15px;
    display: flex;
    gap: 180px;
    justify-content: center;
    align-items: center;
}

.sign-button {
    width: 130px;
    height: 40px;
    border: white solid 1px;
}

.buy {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: bold;
}
.sign{
    margin-top: 10px;
    color: #d9d9d3;
    font-size: 15px;
}