body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Consolas', sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    height: 350px;
} 

.bar {
    padding-top: 10px;
}

.navigation-bar {
    display: flex;
    gap: 10px;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit
}

.logo {
    margin-right: auto;
    margin-left: 200px;
}

.logo img{
    width: 100px;
    height: auto;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
}

.kontakt{
    margin-right: 200px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 550px;
    margin-bottom: 0px;
}

.content {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.content img {
    width: 200px;
    height: 200px;
}

.min-content {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #E5E7EB;
}

button {
  width: 100px;
}

.hero {
    width: 340px;
}